:root {
    --bg: #181a1b;
    --white: #faf0e6;
    --border: #545b5e;
    --primary: #131516;
    --secondary: #1f2223;

  }

html {
    background-color: var(--bg);
    color: var(--white);
    scrollbar-color: #454a4d #202324;
}

body {
    font-family: sans-serif;
    padding: 1.5rem;
}

table {
    padding: 0.5rem;
    width: 90%;
    border-collapse: collapse;
}

.table-wrapper {
    overflow-x: auto;
}

th {
    background-color: var(--primary);
}

th, td {
    padding: 10px 5px 10px 5px;
    text-align: left;
    border-bottom: 1px solid var(--border);
}

tr:nth-child(even) {
    background-color: var(--secondary);
}

tr:hover {
    background-color: #333;
}

td:hover {
    background-color: #444;
}